   @media (min-width: 768px) {
    .dsp-2-md {
       font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
    }
    .dsp-4-md {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.banner{height: 100vh;}
  }
  @media (max-width: 767px) {
   .banner{
    height: 800px;
   }
  }
 
  
